<div class="d-flex p-2 flex-column" id="window-container">
  <h3 class="flex-item bg-primary text-center text-white p-2">
    Yet Another Reddit Image Viewer </h3>
  <img class="flex-item" [src]="imageUrl" [alt]="imageDescription" (click)="nextImage()" id="main-img">
  <div class="d-flex flex-row justify-content-between bg-dark">
    <div class="text-center text-white my-auto border-end" style="width: 40vw">
      {{ imageDescription }}
    </div>
    <div class="flex-item p-2" style="max-width: 40vw">
      <button class="btn btn-primary mx-auto" (click)="nextImage()">Next</button>
    </div>

  </div>
</div>
